/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Headings, call to actions, header navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}
:root {
    /* Intro and email sign up background */
    --introAndEmailSignUpBack: hsl(217, 28%, 15%);
    /* Main background */
    --mainBack: hsl(218, 28%, 13%);
    /* Footer background */
    --footerBack: hsl(216, 53%, 9%);
    /* Testimonial background */ 
    --testimonialBack: hsl(219, 30%, 18%);
    /* Accent (?) */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
    /* Font color */
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --fontSize: 14px;
    --bodyFont: 'Raleway', sans-serif;
    --noBodyFont: 'Open Sans', sans-serif;
}
.a-header {
    background-color: var(--introAndEmailSignUpBack);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-header__logo img {
    width: 75%;
}
.a-header__navList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
}
.a-header__navList li {
    display: inline-block;
}
.a-header__navList li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--noBodyFont);
    font-size: var(--fontSize);
}
.a-header__navList li a:hover {
    color: var(--white);
    text-decoration: var(--white);
}
.to-right {
    margin-right: 20px;
}
.b-intro {
    margin-top: -2px;
    padding-top: 25px;
    background-color: var(--introAndEmailSignUpBack);
}
.b-intro__illustrationBack, .b-intro__background, .b-intro__curvyBack {
    width: 100%;
}
.b-intro__illustrationBack {
    text-align: center;
    z-index: 3;
}
.b-intro__illustrationBack img {
    width: 80%;
}
.b-intro__curvyBack {
    position: relative;
    z-index: -1;
}
.b-intro__curvyBack img {
    width: 100%;
    position: absolute;
    top: -40px;
}
.b-intro__content {
    display: none;
    width: 100%;
    background-color: var(--mainBack); 
    padding: 0 30px;
}
@media (min-width: 375px) {
    .a-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .to-right {
        margin-right: 30px;
    }
}
@media (min-width: 750px) {
    .a-header {
        padding: 35px 50px;
    }
    .a-header__navList li a {
        font-size: 18px;
    }
}