/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Headings, call to actions, header navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}
:root {
    /* Intro and email sign up background */
    --introAndEmailSignUpBack: hsl(217, 28%, 15%);
    /* Main background */
    --mainBack: hsl(218, 28%, 13%);
    /* Footer background */
    --footerBack: hsl(216, 53%, 9%);
    /* Testimonial background */ 
    --testimonialBack: hsl(219, 30%, 18%);
    /* Accent (?) */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
    /* Font color */
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --fontSize: 14px;
    --bodyFont: 'Raleway', sans-serif;
    --noBodyFont: 'Open Sans', sans-serif;
}
body {
    background-color: var(--mainBack);
}
.a-header {
    background-color: var(--introAndEmailSignUpBack);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-header__logo img {
    width: 75%;
}
.a-header__navList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
}
.a-header__navList li {
    display: inline-block;
}
.a-header__navList li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--noBodyFont);
    font-size: var(--fontSize);
    transition: .3s;
}
.a-header__navList li a:hover {
    color: var(--white);
    text-decoration: underline var(--white);
}
.to-right {
    margin-right: 20px;
}
.background {
    margin-top: -1px;
    padding-top: 30px;
    background: var(--introAndEmailSignUpBack);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.background img:nth-child(2) {
    margin-top: -9%;
    width: 100%;
}
.background img:nth-child(3) {
    width: 100%;
    padding: 0 35px;
}
.back-title {
    display: none;
}
.b-intro__title {
    padding: 0 15px;
    font-family: var(--bodyFont);
    line-height: 40px;
    text-align: center;
    margin-top: -20%;
}
.b-intro__content {
    background-color: var(--mainBack);
    padding: 20px 25px;
    font-family: var(--bodyFont);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}
.b-intro__content a {
    text-decoration: none;
    padding: 8px 40px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to right, var(--cyan), var(--blue) 70%);
    border-radius: 30px;
}
.b-intro__content a:hover, .f-acess__input button:hover {
    background: var(--cyan); 
    filter: brightness(0.9);
    -webkit-filter: brightness(1.2);
    font-weight: 700;
}
.c-features {
    padding: 35px;
    background-color: var(--mainBack);
}
.c-features__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-features__list li {
    margin-top: 70px;
    text-align: center;
    font-family: var(--bodyFont);
}
.c-features__list li h2, .d-howWorks__content h2, .f-acess__text h2{
    margin-top: 30px;
    font-size: 18px;
}
.c-features__list li p, .d-howWorks__content p, .f-acess__text p,
.g-footer__logoPart p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
}
.d-howWorks {
    padding: 35px;
    background-color: var(--mainBack);
}
.d-howWorks__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.d-howWorks__imgWrap img {
    width: 100%;
}
.d-howWorks__content {
    font-family: var(--noBodyFont);
    margin-top: 20px;
}
.d-howWorks__content a {
    margin-top: 20px;
    display: block;
    width: fit-content;
    color: var(--cyan);
    text-decoration: none;
    transition: .3s;
}
.white {
    display: none;
}
.d-howWorks__content a img {
    width: 20px;
    transform: translate(6px, 4px);
}
.d-howWorks__content a:after {
    content: ' ';
    display: block;
    background-color: var(--cyan);
    margin-top: 5px;
    height: 1px;
}
.d-howWorks__content a:hover {
    color: var(--white);
}
.d-howWorks__content a:hover:after {
    background-color: var(--white);
}
.d-howWorks__content a:hover .cyan {
    display: none;
}
.d-howWorks__content a:hover .white {
    display: inline-block;
}
.e-testimonials {
    padding: 70px 20px;
    background: var(--mainBack) url('./images/bg-quotes.png') no-repeat;
    background-position: 30px 30px;
}
.e-testimonials__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.e-testimonials__list li {
    background-color: var(--testimonialBack); 
    border-radius: 5px;
    font-family: var(--bodyFont);
    padding: 20px;
    transition: .3s;
}
.e-testimonials__list li > p {
    font-size: 16px;
    line-height: 25px;
}
.to-top {
    margin-top: 25px;
}
.e-testimonials__list li img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.e-testimonials__person {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 20px;
}
.e-testimonials__person div {
    margin-top: 10px;
    margin-left: 15px;
}
.e-testimonials__person h3 {
    font-size: 18px;
}
.e-testimonials__person p {
    font-size: 14px;
}
.f-acess {
    position: relative;
    background-color: var(--mainBack);
    height: 300px;
    padding: 0 20px;
}
.f-acess ul {
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 25px;
    background-color: var(--introAndEmailSignUpBack);
    position: absolute;
    top: calc(100% - 70%);
    left: 10px;
    width: calc(100% - 20px);
    box-shadow: 0 5px 10px -2px black;
}
.f-acess__text {
    font-family: var(--bodyFont);
    text-align: center;
}
.f-acess__input {
    text-align: center;
    margin-top: 30px;
    padding: 0 25px;
}
.f-acess__input input {
    width: 100%;
    padding: 17px 0;
    text-indent: 25px;
    border-radius: 30px;
    border: 0 none;
    background-color: var(--white);
    color: var(--introAndEmailSignUpBack);
}  
.f-acess__input input::placeholder {
    color: gray;
    font-family: var(--bodyFont);
}
.f-acess__input input:focus {
    outline: 0;
    caret-color: var(--blue);
}
.emailWarning {
    font-family: var(--bodyFont);
    position: absolute;
    bottom: 1px; left: 1px;
    font-size: 14px;
}
.f-acess__input button {
    width: 100%;
    padding: 17px 0;
    border-radius: 30px;
    border: 0 none;
    background: linear-gradient(to right, var(--cyan), var(--blue) 70%);
    font-size: 16px;
    font-family: var(--bodyFont);
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
}
.g-footer {
    background-color: var(--footerBack);
    padding: 250px 20px 30px;
}   
.g-footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.g-footer__list > img {
    width: 200px;
}
.g-footer__logoPart {
    font-family: var(--bodyFont);
}
#localization {
    margin-top: 50px;
}
.g-footer__logoPart p span {
    margin-left: 20px;
}
.align {
    display: flex;
    align-items: center;
}
.g-footer__items {
    margin-top: 60px;
}
.g-footer__items div {
    display: flex;
    flex-direction: column;
}
.g-footer__items div a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--bodyFont);
    cursor: pointer;
}
.g-footer__items div a:nth-child(n + 2) {
    margin-top: 20px;
}
.g-footer__items div a:hover {
    font-weight: 700;
}
.g-footer__items div:nth-child(2) {
    margin-top: 50px;
}
.g-footer__social {
    align-self: center;
    margin-top: 50px;
    display: flex;
}
.medias-circle {
    width: 35px; height: 35px;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    transition: .3s;
}
.medias-circle img {
    width: 15px;
}
.medias-circle:nth-child(1) img {
    width: 11px;
}
.cyan-icon {
    display: none;
}
.medias-circle:hover {
    border: 1px solid var(--cyan);
}
.medias-circle:hover img:nth-child(1) {
    display: none;
}
.medias-circle:hover .cyan-icon {
    display: block;
}
@media (max-width: 300px) {
    .f-acess__input input::placeholder {
        color: var(--white);
    }
    .g-footer {
        padding-top: 300px;
    }
}
@media (min-width: 375px) {
    .a-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .to-right {
        margin-right: 30px;
    }
    .b-intro__content a {
        padding: 10px 80px;
    }
}
@media (min-width: 600px) {
    body {
        background-color: unset;
    }
    .a-header {
        padding: 35px 50px;
    }
    .a-header__navList li a {
        font-size: 18px;
    }
    .background img:nth-child(2) {
        display: none;
    }
    .background img:nth-child(3) {
        width: 50%;
    }
    .b-intro {
        background: var(--introAndEmailSignUpBack) url('./images/bg-curvy-mobile.svg') no-repeat;
        background-size: 100% 70%;
        background-position: bottom;
    }
    .b-intro__content {
        margin: 10px auto;
        background-color: unset;
        width: 50%;
    }
    .b-intro__content p {
        font-size: 18px;
    }
    .b-intro__content a {
        margin-top: 50px;
    }
    .b-intro__title {
        width: 55%;
        margin: -1px auto;
        padding-top: 45px;
        font-size: 32px;
    }
    .c-features, .e-testimonials {
        margin-top: -20px;
    }
    .d-howWorks, .f-acess, .g-footer {
        margin-top: -5px;
    }
    .emailWarning {
        font-size: 16px;
    }
}
@media (min-width: 800px) {
    .c-features {
        padding: 40px 100px;
    }
    .c-features__list {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .c-features__list li {
        flex-basis: 40%;
        margin-top: 60px;
    }
    .d-howWorks {
        margin-top: -5px;
        padding: 40px 50px;
    }
    .d-howWorks__list {
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 40px;
    }
    .d-howWorks__list li {
        flex-basis: 50%;
    }
    .d-howWorks__list li h2 {
        font-size: 32px;
    }
    .c-features__list li h2, .f-acess__text h2 {
        font-size: 24px;
    }
    .d-howWorks__list li p, .c-features__list li p,
    .e-testimonials__list li > p, .d-howWorks__list li a,
    .f-acess__text p, .g-footer__list p {
        font-size: 18px;
    }
    .e-testimonials {
        padding: 20px 60px;
        background-position: 50px 135px;
    }
    .e-testimonials__list {
        margin-top: 150px;
    }
    .e-testimonials__list li {
        padding: 40px;
    }
    .e-testimonials__list li:hover {
        box-shadow: 2px 2px 20px 2px inset silver,
        -2px -2px 20px 2px inset silver;
        transform: scale(1.1);
    }
    .e-testimonials__person div {
        margin: 0;
    }
    .e-testimonials__person h3 {
        font-size: 20px;
    }
    .e-testimonials__person p {
        font-size: 16px;
    }
    .e-testimonials__person {
        gap: 20px;
    }
    .f-acess ul {
        width: 60%;
        left: 17.5%;
        padding: 0 50px 30px;
    }
}
@media (min-width: 1000px) {
    .e-testimonials__list {
        flex-direction: row;
        gap: 30px;
    }
    .to-top {
        margin: 0;
    }
    .f-acess ul {
        top: calc(100% - 55%);
        padding-bottom: 60px;
    }
    .f-acess__text {
        padding: 0 20px;
    }
    .f-acess__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .f-acess__input input {
        flex-basis: 53%;
    }
    .emailWarning {
        left: 13%;
        bottom: 40px;
    }
    .f-acess__input button {
        flex-basis: 42%;
        margin: 0;
    }
    .g-footer {
        padding: 270px 40px 100px;
    }
    .g-footer__list {
        flex-direction: row;
        position: relative;
    }
    .g-footer__list li:nth-child(1) {
        position: absolute;
        top: -80px;
    }
    .g-footer__logoPart {
        display: flex;
        flex-basis: 54%;
    }
    #localization, .g-footer__logoPart p, .g-footer__social {
        margin-top: 0;   
    }
    .g-footer__social {
        align-self: unset;
        position: absolute;
        right: 0;
    }
    .g-footer__logoPart div {
        margin-left: 50px;
    }
    .g-footer__logoPart p:nth-child(1) {
        flex-basis: 45%;
    }
    .g-footer__logoPart div .second-p {
        margin-top: 20px;
    }
    .g-footer__items {
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }
    .g-footer__items div:nth-child(2) {
        margin-top: 0;
    }
    .g-footer__items div:nth-child(1) {
        margin-right: 100px;
    }
}